<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/style.css">
    <title>Dashboard 2</title>
    <!-- Masukkan tautan skrip Chart.js atau pustaka lainnya di sini jika diperlukan -->
</head>
<body>
    <div class="main">
        <div class="header-wrapper">
            <div class="upbar">
                <nav>
                    <ul>
                        <li><a href="/">DashBoard</a></li>
                        <li class="active"><a href="#">EDA</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-title">
                <h1></h1>
            </div>
        </div>
        <!-- Isi Dashboard 2 Anda di sini -->
    </div>
    <!-- Sisipkan skrip JavaScript untuk grafik atau tindakan lain di sini jika diperlukan -->
</body>
</html>
